In [4]:
# Chipotle.tsv data

In [92]:
import pandas as pd
import numpy as np

In [6]:
pd.read_table('https://raw.githubusercontent.com//justmarkham//DAT8//master//data//chipotle.tsv')

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [233]:
data_chip =pd.read_table('https://raw.githubusercontent.com//justmarkham//DAT8//master//data//chipotle.tsv')

In [234]:
data_chip

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [6]:
# calculating total price for items

In [9]:
data_chip.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [10]:
data_chip.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [14]:
data_chip['item_price']

0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object

In [25]:
data_chip['item_price_$rem'] = data_chip['item_price'].str.replace('$','')

In [26]:
data_chip['item_price_$rem'] = data_chip['item_price'].str.strip('$')

In [27]:
data_chip['item_price_$rem']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
         ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price_$rem, Length: 4622, dtype: object

In [28]:
data_chip['item_price_$rem'].astype(float)

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price_$rem, Length: 4622, dtype: float64

In [29]:
data_chip['item_price_$rem']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
         ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price_$rem, Length: 4622, dtype: object

In [32]:
data_chip['item_price_$rem'] = data_chip['item_price_$rem'].map(lambda x :float(x))

In [34]:
data_chip['item_price_$rem'].dtypes

dtype('float64')

In [37]:
data_chip.head()

,order_id,quantity,item_name,choice_description,item_price,item_price_$rem
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [38]:
data_chip['Tot_price'] = data_chip['quantity'] * data_chip['item_price_$rem']

In [45]:
data_chip.head()

,order_id,quantity,item_name,choice_description,item_price,item_price_$rem,Tot_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,33.96

In [42]:
data_chip.tail()

,order_id,quantity,item_name,choice_description,item_price,item_price_$rem,Tot_price
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75,8.75

In [46]:
data_chip.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price             object
item_price_$rem       float64
Tot_price             float64
dtype: object

In [47]:
data_chip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 7 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
item_price_$rem       4622 non-null float64
Tot_price             4622 non-null float64
dtypes: float64(2), int64(2), object(3)
memory usage: 252.9+ KB

In [49]:
data_chip.shape

(4622, 7)

In [50]:
# print name of all columnes

In [55]:
data_chip.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description', 'item_price',
       'item_price_$rem', 'Tot_price'],
      dtype='object')

In [57]:
# how is data set indexed
data_chip.index

RangeIndex(start=0, stop=4622, step=1)

In [59]:
# which is most ordered item. how many items were ordered

In [69]:
c = data_chip.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'] , ascending= False)
c

,order_id,quantity,item_price_$rem,Tot_price
item_name,,,,
Chicken Bowl,713926,761,7342.73,8044.63
Chicken Burrito,497303,591,5575.82,6387.06
Chips and Guacamole,449959,506,2201.04,2475.62
Steak Burrito,328437,386,3851.43,4236.13
Canned Soft Drink,304753,351,438.75,603.75
Chips,208004,230,494.34,580.34
Steak Bowl,193752,221,2260.19,2479.81
Bottled Water,175944,211,302.56,649.18
Chips and Fresh Tomato Salsa,100419,130,361.36,1033.96
Canned Soda,76396,126,137.34,191.84
Chicken Salad Bowl,117104,123,1228.75,1506.25
Chicken Soft Tacos,98395,120,1108.09,1199.01
Side of Chips,84769,110,185.90,290.68
Veggie Burrito,80962,97,934.77,1002.27
Barbacoa Burrito,74718,91,894.75,894.75
Veggie Bowl,72270,87,867.99,901.95
Carnitas Bowl,62742,71,736.71,830.71
Barbacoa Bowl,53972,66,672.36,672.36
Carnitas Burrito,51652,60,597.83,616.33
Steak Soft Tacos,50177,56,536.05,554.55
6 Pack Soft Drink,52322,55,356.95,369.93
Chips and Tomatillo Red Chili Salsa,45556,50,147.50,159.30
Chicken Crispy Tacos,47382,50,472.13,524.11
Chips and Tomatillo Green Chili Salsa,41170,45,132.75,144.55
Carnitas Soft Tacos,37673,40,375.94,375.94
Steak Crispy Tacos,35818,36,357.34,375.32
Chips and Tomatillo-Green Chili Salsa,21826,33,78.87,88.43
Steak Salad Bowl,29590,31,343.59,391.15
Nantucket Nectar,21814,29,98.31,111.87
Chips and Tomatillo-Red Chili Salsa,18344,25,59.75,93.21
Barbacoa Soft Tacos,18725,25,250.46,250.46
Chips and Roasted Chili Corn Salsa,14999,23,67.85,73.75
Izze,10587,20,67.80,67.80
Veggie Salad Bowl,17303,18,182.50,182.50
Chips and Roasted Chili-Corn Salsa,17462,18,43.02,43.02
Barbacoa Crispy Tacos,5613,12,120.21,138.71
Barbacoa Salad Bowl,9708,10,106.40,106.40
Chicken Salad,10465,9,81.09,81.09
Carnitas Crispy Tacos,5868,8,77.96,95.94
Veggie Soft Tacos,5520,8,73.96,90.94
Burrito,1550,6,44.40,44.40
Veggie Salad,7265,6,50.94,50.94
Carnitas Salad Bowl,6693,6,66.34,66.34
Bowl,472,4,29.60,74.00
Steak Salad,2362,4,35.66,35.66
Salad,1150,2,14.80,14.80
Crispy Tacos,434,2,14.80,14.80
Chips and Mild Fresh Tomato Salsa,279,1,3.00,3.00
Carnitas Salad,1500,1,8.99,8.99
Veggie Crispy Tacos,668,1,8.49,8.49

In [71]:
c.head()

                     order_id  quantity  item_price_$rem  Tot_price
item_name
Chicken Bowl           713926       761          7342.73    8044.63
Chicken Burrito        497303       591          5575.82    6387.06
Chips and Guacamole    449959       506          2201.04    2475.62
Steak Burrito          328437       386          3851.43    4236.13
Canned Soft Drink      304753       351           438.75     603.75

In [72]:
# most ordered item in the choice description column

In [75]:
d = data_chip.groupby('choice_description')
d = d.sum()
d = d.sort_values(['quantity'], ascending = False)
d

,order_id,quantity,item_price_$rem,Tot_price
choice_description,,,,
[Diet Coke],123455,159,326.71,408.41
[Coke],122752,143,288.79,356.29
[Sprite],80426,89,133.93,178.87
"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]",43088,49,432.25,572.25
"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]",36041,42,372.64,603.14
...,...,...,...,...
"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Pinto Beans, Guacamole, Lettuce]]",577,1,11.25,11.25
"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Sour Cream, Lettuce]]",585,1,8.75,8.75
"[Roasted Chili Corn Salsa, [Fajita Vegetables, Sour Cream, Lettuce, Guacamole]]",235,1,11.75,11.75
"[Roasted Chili Corn Salsa, [Guacamole, Sour Cream, Rice, Fajita Vegetables, Lettuce]]",987,1,11.25,11.25
"[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Fajita Veggies, Lettuce]]",1299,1,8.99,8.99

In [77]:
d.head(1)

                    order_id  quantity  item_price_$rem  Tot_price
choice_description
[Diet Coke]           123455       159           326.71     408.41

In [78]:
# how much was the revenue for the period in the dataset

In [99]:
revenue = (data_chip["quantity"] * data_chip['item_price_$rem']).sum()

In [100]:
revenue = print('Revenue was : $'+ str(np.round(revenue,2)))

Revenue was : $39237.02

In [105]:
# print the datafram with only 2 column - item name  and item price

In [134]:
data_chip_itname_itprice = data_chip.drop_duplicates(['item_name'])

In [148]:
data_chip_itname_itprice

,order_id,quantity,item_name,choice_description,item_price,item_price_$rem,Tot_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,33.96
6,3,1,Side of Chips,NaN,$1.69,1.69,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25,9.25,9.25
10,5,1,Chips and Guacamole,NaN,$4.45,4.45,4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75,8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75,8.75,8.75
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49,8.49,8.49
18,9,2,Canned Soda,[Sprite],$2.18,2.18,4.36
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99,8.99,8.99
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.99,8.99,8.99
33,17,1,Carnitas Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99,8.99
34,17,1,Bottled Water,NaN,$1.09,1.09,1.09
38,18,1,Chips and Tomatillo Green Chili Salsa,NaN,$2.95,2.95,2.95
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.75,11.75,11.75
40,19,1,Chips,NaN,$2.15,2.15,2.15
44,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75,8.75
54,25,1,Steak Bowl,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.99,8.99,8.99
56,26,1,Barbacoa Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",$9.25,9.25,9.25
57,26,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25,11.25,11.25
62,28,1,Veggie Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
92,40,1,Steak Crispy Tacos,"[Fresh Tomato Salsa, Sour Cream]",$9.25,9.25,9.25
111,49,1,Chips and Tomatillo Red Chili Salsa,NaN,$2.95,2.95,2.95
168,75,1,Barbacoa Crispy Tacos,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$11.75,11.75,11.75
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
191,85,1,Chips and Roasted Chili-Corn Salsa,NaN,$2.39,2.39,2.39
233,102,1,Chips and Roasted Chili Corn Salsa,NaN,$2.95,2.95,2.95
237,103,1,Carnitas Soft Tacos,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$9.25,9.25,9.25
250,109,1,Chicken Salad,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$10.98,10.98,10.98
263,114,1,Canned Soft Drink,[Coke],$1.25,1.25,1.25
281,123,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",$23.78,23.78,47.56
298,129,1,6 Pack Soft Drink,[Sprite],$6.49,6.49,6.49
300,130,1,Chips and Tomatillo-Red Chili Salsa,NaN,$2.39,2.39,2.39
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20,22.20,66.60
510,214,1,Burrito,"[Adobo-Marinated and Grilled Chicken, Pinto Be...",$7.40,7.40,7.40
520,217,1,Crispy Tacos,[Adobo-Marinated and Grilled Steak],$7.40,7.40,7.40
554,230,1,Carnitas Crispy Tacos,[Roasted Chili Corn Salsa],$9.25,9.25,9.25
664,276,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99,8.99
674,279,1,Chips and Mild Fresh Tomato Salsa,NaN,$3.00,3.00,3.00
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25,11.25,11.25
1132,468,1,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.89,11.89,11.89
1229,501,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",$11.89,11.89,11.89
1414,575,1,Salad,"[Brown Rice, Adobo-Marinated and Grilled Chick...",$7.40,7.40,7.40
1653,668,1,Veggie Crispy Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,8.49,8.49
1694,686,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$8.49,8.49,8.49
3750,1500,1,Carnitas Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$8.99,8.99,8.99

In [132]:
data_chip_itname_itprice = data_chip_itname_itprice.sort_values('item_name')

In [139]:
data_chip_itname_itprice.head(10)

,order_id,quantity,item_name,choice_description,item_price,item_price_$rem,Tot_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,33.96
6,3,1,Side of Chips,NaN,$1.69,1.69,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25,9.25,9.25
10,5,1,Chips and Guacamole,NaN,$4.45,4.45,4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75,8.75

In [146]:
two_column = data_chip_itname_itprice[['item_name','item_price']]

In [147]:
two_column

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
6                             Side of Chips     $1.69
7                             Steak Burrito    $11.75
8                          Steak Soft Tacos     $9.25
10                      Chips and Guacamole     $4.45
11                     Chicken Crispy Tacos     $8.75
12                       Chicken Soft Tacos     $8.75
16                          Chicken Burrito     $8.49
18                              Canned Soda     $2.18
21                         Barbacoa Burrito     $8.99
27                         Carnitas Burrito     $8.99
33                            Carnitas Bowl     $8.99
34                            Bottled Water     $1.09
38    Chips and Tomatillo Green Chili Salsa     $2.95
39                            Barbacoa Bowl    $11.75
40                                    Chips     $2.15
44                       Chicken Salad Bowl     $8.75
54                               Steak Bowl     $8.99
56                      Barbacoa Soft Tacos     $9.25
57                           Veggie Burrito    $11.25
62                              Veggie Bowl    $11.25
92                       Steak Crispy Tacos     $9.25
111     Chips and Tomatillo Red Chili Salsa     $2.95
168                   Barbacoa Crispy Tacos    $11.75
186                       Veggie Salad Bowl    $11.25
191      Chips and Roasted Chili-Corn Salsa     $2.39
233      Chips and Roasted Chili Corn Salsa     $2.95
237                     Carnitas Soft Tacos     $9.25
250                           Chicken Salad    $10.98
263                       Canned Soft Drink     $1.25
281                        Steak Salad Bowl    $23.78
298                       6 Pack Soft Drink     $6.49
300     Chips and Tomatillo-Red Chili Salsa     $2.39
445                                    Bowl    $22.20
510                                 Burrito     $7.40
520                            Crispy Tacos     $7.40
554                   Carnitas Crispy Tacos     $9.25
664                             Steak Salad     $8.99
674       Chips and Mild Fresh Tomato Salsa     $3.00
738                       Veggie Soft Tacos    $11.25
1132                    Carnitas Salad Bowl    $11.89
1229                    Barbacoa Salad Bowl    $11.89
1414                                  Salad     $7.40
1653                    Veggie Crispy Tacos     $8.49
1694                           Veggie Salad     $8.49
3750                         Carnitas Salad     $8.99

In [155]:
# delete the duplicates in item_name and quantity
filtered = data_chip.drop_duplicates(['item_name','quantity'])

In [156]:
filtered.sort_values('item_name')

,order_id,quantity,item_name,choice_description,item_price,item_price_$rem,Tot_price
298,129,1,6 Pack Soft Drink,[Sprite],$6.49,6.49,6.49
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98,12.98,25.96
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.75,11.75,11.75
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99,8.99,8.99
1903,768,2,Barbacoa Crispy Tacos,"[Fresh Tomato Salsa, [Sour Cream, Cheese, Rice]]",$18.50,18.50,37.00
...,...,...,...,...,...,...,...
1653,668,1,Veggie Crispy Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,8.49,8.49
1694,686,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$8.49,8.49,8.49
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
3889,1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$16.98,16.98,33.96
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25,11.25,11.25

In [157]:
# select only product with quantity equal to 1

In [171]:
quantiy1 = filtered[filtered.quantity == 1]

In [172]:
quantiy1

,order_id,quantity,item_name,choice_description,item_price,item_price_$rem,Tot_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39,2.39
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98,10.98
6,3,1,Side of Chips,NaN,$1.69,1.69,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25,9.25,9.25
10,5,1,Chips and Guacamole,NaN,$4.45,4.45,4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75,8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75,8.75,8.75
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49,8.49,8.49
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99,8.99,8.99
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.99,8.99,8.99
28,14,1,Canned Soda,[Dr. Pepper],$1.09,1.09,1.09
33,17,1,Carnitas Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99,8.99
34,17,1,Bottled Water,NaN,$1.09,1.09,1.09
38,18,1,Chips and Tomatillo Green Chili Salsa,NaN,$2.95,2.95,2.95
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.75,11.75,11.75
40,19,1,Chips,NaN,$2.15,2.15,2.15
44,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75,8.75
54,25,1,Steak Bowl,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.99,8.99,8.99
56,26,1,Barbacoa Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",$9.25,9.25,9.25
57,26,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25,11.25,11.25
62,28,1,Veggie Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
92,40,1,Steak Crispy Tacos,"[Fresh Tomato Salsa, Sour Cream]",$9.25,9.25,9.25
111,49,1,Chips and Tomatillo Red Chili Salsa,NaN,$2.95,2.95,2.95
168,75,1,Barbacoa Crispy Tacos,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$11.75,11.75,11.75
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
191,85,1,Chips and Roasted Chili-Corn Salsa,NaN,$2.39,2.39,2.39
233,102,1,Chips and Roasted Chili Corn Salsa,NaN,$2.95,2.95,2.95
237,103,1,Carnitas Soft Tacos,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$9.25,9.25,9.25
250,109,1,Chicken Salad,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$10.98,10.98,10.98
263,114,1,Canned Soft Drink,[Coke],$1.25,1.25,1.25
298,129,1,6 Pack Soft Drink,[Sprite],$6.49,6.49,6.49
300,130,1,Chips and Tomatillo-Red Chili Salsa,NaN,$2.39,2.39,2.39
510,214,1,Burrito,"[Adobo-Marinated and Grilled Chicken, Pinto Be...",$7.40,7.40,7.40
520,217,1,Crispy Tacos,[Adobo-Marinated and Grilled Steak],$7.40,7.40,7.40
554,230,1,Carnitas Crispy Tacos,[Roasted Chili Corn Salsa],$9.25,9.25,9.25
606,250,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Gua...",$11.89,11.89,11.89
664,276,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99,8.99
673,279,1,Bowl,"[Adobo-Marinated and Grilled Steak, [Sour Crea...",$7.40,7.40,7.40
674,279,1,Chips and Mild Fresh Tomato Salsa,NaN,$3.00,3.00,3.00
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25,11.25,11.25
1132,468,1,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.89,11.89,11.89
1229,501,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",$11.89,11.89,11.89
1414,575,1,Salad,"[Brown Rice, Adobo-Marinated and Grilled Chick...",$7.40,7.40,7.40
1653,668,1,Veggie Crispy Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,8.49,8.49
1694,686,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$8.49,8.49,8.49
3750,1500,1,Carnitas Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$8.99,8.99,8.99

In [178]:
# select only item name and item price column

In [191]:
price_per_item = data_chip[['item_name','item_price']]

In [192]:
price_per_item

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

In [225]:
price_per_item = quantiy1[['item_name','item_price']]

In [226]:
price_per_item.sort_values(by='item_price', ascending= False)

                                  item_name item_price
92                       Steak Crispy Tacos     $9.25
554                   Carnitas Crispy Tacos     $9.25
237                     Carnitas Soft Tacos     $9.25
56                      Barbacoa Soft Tacos     $9.25
8                          Steak Soft Tacos     $9.25
21                         Barbacoa Burrito     $8.99
664                             Steak Salad     $8.99
54                               Steak Bowl     $8.99
33                            Carnitas Bowl     $8.99
27                         Carnitas Burrito     $8.99
3750                         Carnitas Salad     $8.99
12                       Chicken Soft Tacos     $8.75
11                     Chicken Crispy Tacos     $8.75
44                       Chicken Salad Bowl     $8.75
16                          Chicken Burrito     $8.49
1694                           Veggie Salad     $8.49
1653                    Veggie Crispy Tacos     $8.49
1414                                  Salad     $7.40
673                                    Bowl     $7.40
520                            Crispy Tacos     $7.40
510                                 Burrito     $7.40
298                       6 Pack Soft Drink     $6.49
10                      Chips and Guacamole     $4.45
2                          Nantucket Nectar     $3.39
1                                      Izze     $3.39
674       Chips and Mild Fresh Tomato Salsa     $3.00
233      Chips and Roasted Chili Corn Salsa     $2.95
38    Chips and Tomatillo Green Chili Salsa     $2.95
111     Chips and Tomatillo Red Chili Salsa     $2.95
3     Chips and Tomatillo-Green Chili Salsa     $2.39
300     Chips and Tomatillo-Red Chili Salsa     $2.39
0              Chips and Fresh Tomato Salsa     $2.39
191      Chips and Roasted Chili-Corn Salsa     $2.39
40                                    Chips     $2.15
606                        Steak Salad Bowl    $11.89
1229                    Barbacoa Salad Bowl    $11.89
1132                    Carnitas Salad Bowl    $11.89
39                            Barbacoa Bowl    $11.75
7                             Steak Burrito    $11.75
168                   Barbacoa Crispy Tacos    $11.75
186                       Veggie Salad Bowl    $11.25
738                       Veggie Soft Tacos    $11.25
57                           Veggie Burrito    $11.25
62                              Veggie Bowl    $11.25
5                              Chicken Bowl    $10.98
250                           Chicken Salad    $10.98
6                             Side of Chips     $1.69
263                       Canned Soft Drink     $1.25
34                            Bottled Water     $1.09
28                              Canned Soda     $1.09

In [197]:
#sort the value from most to least expensive

In [201]:
price_per_item.sort_values(by="item_price", ascending = False)

                                  item_name item_price
92                       Steak Crispy Tacos     $9.25
554                   Carnitas Crispy Tacos     $9.25
237                     Carnitas Soft Tacos     $9.25
56                      Barbacoa Soft Tacos     $9.25
8                          Steak Soft Tacos     $9.25
21                         Barbacoa Burrito     $8.99
664                             Steak Salad     $8.99
54                               Steak Bowl     $8.99
33                            Carnitas Bowl     $8.99
27                         Carnitas Burrito     $8.99
3750                         Carnitas Salad     $8.99
12                       Chicken Soft Tacos     $8.75
11                     Chicken Crispy Tacos     $8.75
44                       Chicken Salad Bowl     $8.75
16                          Chicken Burrito     $8.49
1694                           Veggie Salad     $8.49
1653                    Veggie Crispy Tacos     $8.49
1414                                  Salad     $7.40
673                                    Bowl     $7.40
520                            Crispy Tacos     $7.40
510                                 Burrito     $7.40
298                       6 Pack Soft Drink     $6.49
10                      Chips and Guacamole     $4.45
2                          Nantucket Nectar     $3.39
1                                      Izze     $3.39
674       Chips and Mild Fresh Tomato Salsa     $3.00
233      Chips and Roasted Chili Corn Salsa     $2.95
38    Chips and Tomatillo Green Chili Salsa     $2.95
111     Chips and Tomatillo Red Chili Salsa     $2.95
3     Chips and Tomatillo-Green Chili Salsa     $2.39
300     Chips and Tomatillo-Red Chili Salsa     $2.39
0              Chips and Fresh Tomato Salsa     $2.39
191      Chips and Roasted Chili-Corn Salsa     $2.39
40                                    Chips     $2.15
606                        Steak Salad Bowl    $11.89
1229                    Barbacoa Salad Bowl    $11.89
1132                    Carnitas Salad Bowl    $11.89
39                            Barbacoa Bowl    $11.75
7                             Steak Burrito    $11.75
168                   Barbacoa Crispy Tacos    $11.75
186                       Veggie Salad Bowl    $11.25
738                       Veggie Soft Tacos    $11.25
57                           Veggie Burrito    $11.25
62                              Veggie Bowl    $11.25
5                              Chicken Bowl    $10.98
250                           Chicken Salad    $10.98
6                             Side of Chips     $1.69
263                       Canned Soft Drink     $1.25
34                            Bottled Water     $1.09
28                              Canned Soda     $1.09

In [203]:
# what was quantity of the most expensive item

In [ ]:
d = data_chip.groupby('choice_description')
d = d.sum()
d = d.sort_values(['quantity'], ascending = False)
d

In [216]:
most_expensive = data_chip.sort_values(['item_price'], ascending= False)

In [219]:
most_expensive = most_expensive.sort_values(by='item_price',ascending= False).head(1)

In [220]:
most_expensive

,order_id,quantity,item_name,choice_description,item_price,item_price_$rem,Tot_price
2624,1042,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Sour Cream,...",$9.39,9.39,9.39

In [228]:
# how many time veggie salad bowl ordered

In [237]:
data_veggie = data_chip[data_chip.item_name == 'Veggie Salad Bowl']

In [238]:
data_veggie

,order_id,quantity,item_name,choice_description,item_price
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
295,128,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$11.25
455,195,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
496,207,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce, Guacamole...",$11.25
960,394,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
1316,536,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75
1884,760,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
2156,869,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
2223,896,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, Fajita Vegetables]",$8.75
2269,913,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75
2683,1066,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
3223,1289,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
3293,1321,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
4109,1646,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
4201,1677,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",$11.25
4261,1700,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
4541,1805,1,Veggie Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75
4573,1818,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75